body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.color{
    color: orange;
}
section{
    display: flex;
    margin: 150px;
}
.halfwidth{
    width: 50%;
    padding-left: 5%;
}
.halfwidth img{
    width: 90%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding:10px 30px;
    color: black;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top-banner1{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}