body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin: 0px;
}
.halfwidth{
    width: 50%;
    padding-left: 5%;
}
.halfwidth img{
    width: 90%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding:10px 30px;
    color: black;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top-banner1{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px 10px gray;
    border-left: 10px solid;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#stack-developer{
    border-left: 10px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;

}
#web-developer{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    padding-top: 5%;
}
